.section {
    margin-top: 20px;
    padding: 5px 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px;
}

.section--height {
    min-height: 25vh;
}

@media(max-width: 767px) {
    .section--height {
        min-height: 30vh;
    }
}

.section__header {
    padding: 15px;
}

.section__paragraph {
    font-size: 25px;
}

@media(max-width: 767px) {
    .section__paragraph {
        font-size: 18px;
    }
}